# Part 1 - Assignment 2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snb

from modules.stock import Stock
from modules.portfolio import Portfolio
from modules.performance import Performance, CollectPerformance
from modules.cleandata import CleanData

%matplotlib inline

# Preparation

In [2]:
stock = Stock()

# Question 1.1 - 1.2

### bmit

In [3]:
s, d = stock.portfolio(kpi='bmit', highlow='high', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p0 = perf.get_performance('bmit high')

In [4]:
s, d = stock.portfolio(kpi='bmit', highlow='low', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p1 = perf.get_performance('bmit low')

In [5]:
s, d = stock.portfolio(kpi='bmit', highlow='highlow', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p2 =perf.get_performance('bmit highlow')

### momit

In [6]:
s, d = stock.portfolio(kpi='momit', highlow='high', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p3 = perf.get_performance('momit high')

In [7]:
s, d = stock.portfolio(kpi='momit', highlow='low', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p4 = perf.get_performance('momit low')

In [8]:
s, d = stock.portfolio(kpi='momit', highlow='highlow', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p5 = perf.get_performance('momit high/low')

In [9]:
q1_perf = CollectPerformance([p0, p1, p2, p3, p4, p5])
q1_perf()

,avg months for stock,avg return,sharpe ratio,std. deviation,t-stat
index_name,,,,,
bmit high,24.552786,0.085271,0.519232,0.164225,11.863051
bmit low,24.552786,0.054189,0.265777,0.203888,6.072289
bmit highlow,49.105572,0.015541,0.180977,0.085873,4.134848
momit high,24.552786,0.098987,0.495019,0.199966,11.309850
momit low,24.552786,0.049807,0.236453,0.210641,5.402317
momit high/low,49.105572,0.024590,0.243627,0.100933,5.566228

# Question 1.3

In [10]:
stock.composite_data('bmit', 'momit')

In [11]:
s, d = stock.portfolio(kpi='bmit_momit', highlow='high', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p0 = perf.get_performance('composite high')

In [12]:
s, d = stock.portfolio(kpi='bmit_momit', highlow='low', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p1 = perf.get_performance('composite low')

In [13]:
s, d = stock.portfolio(kpi='bmit_momit', highlow='highlow', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p2 = perf.get_performance('composite high/low')

In [14]:
q3_perf = CollectPerformance([p0, p1, p2])
q3_perf()

,avg months for stock,avg return,sharpe ratio,std. deviation,t-stat
index_name,,,,,
composite high,24.552786,0.089310,0.556989,0.160345,12.725694
composite low,24.552786,0.033185,0.164571,0.201643,3.760016
composite high/low,49.105572,0.028063,0.409929,0.068458,9.365785

# Question 1.4

In [15]:
stock.industry_adjusted_data('bmit')
stock.industry_adjusted_data('momit')
stock.composite_data('adjusted_bmit', 'adjusted_momit')

In [16]:
s, d = stock.portfolio(kpi='adjusted_bmit_adjusted_momit', highlow='high', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p0 = perf.get_performance('composite adjusted high')

In [17]:
s, d = stock.portfolio(kpi='adjusted_bmit_adjusted_momit', highlow='low', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p1 = perf.get_performance('composite adjusted low')

In [18]:
s, d = stock.portfolio(kpi='adjusted_bmit_adjusted_momit', highlow='highlow', return_dummy=True)
p = Portfolio.portfolio_return(s)
perf = Performance(p, 12, d)
p2 = perf.get_performance('composite adjusted high/low')

In [19]:
q3_perf = CollectPerformance([p0, p1, p2])
q3_perf()

,avg months for stock,avg return,sharpe ratio,std. deviation,t-stat
index_name,,,,,
composite adjusted high,24.552786,0.099110,0.586594,0.168959,13.402109
composite adjusted low,24.552786,0.045012,0.235327,0.191274,5.376589
composite adjusted high/low,49.105572,0.027049,0.576088,0.046953,13.162071

In [20]:
stock

['bmit', 'iait', 'rit', 'momit', 'industry_momit', 'industry_bmit', 'factors', 'bmit_momit', 'adjusted_bmit', 'adjusted_momit', 'adjusted_bmit_adjusted_momit']

In [21]:
d1 = stock.data['factors']
d1

               MKT     SMB     HML     WML  Tbillrate
date
1972-01-01  0.0249  0.0611  0.0203  0.0024     0.0029
1972-02-01  0.0287  0.0138 -0.0276  0.0270     0.0025
1972-03-01  0.0063 -0.0027 -0.0169  0.0291     0.0027
1972-04-01  0.0029  0.0000  0.0022  0.0290     0.0029
1972-05-01  0.0125 -0.0279 -0.0269  0.0318     0.0030
1972-06-01 -0.0243  0.0033 -0.0248  0.0193     0.0029
1972-07-01 -0.0080 -0.0288  0.0077  0.0275     0.0031
1972-08-01  0.0326 -0.0407  0.0468 -0.0534     0.0029
1972-09-01 -0.0114 -0.0268  0.0049  0.0175     0.0034
1972-10-01  0.0052 -0.0271  0.0132  0.0075     0.0040
1972-11-01  0.0460 -0.0112  0.0478 -0.0514     0.0037
1972-12-01  0.0062 -0.0186 -0.0229  0.0498     0.0037
1973-01-01 -0.0329 -0.0350  0.0268  0.0372     0.0044
1973-02-01 -0.0485 -0.0399  0.0168  0.0212     0.0041
1973-03-01 -0.0129 -0.0287  0.0284  0.0362     0.0046
1973-04-01 -0.0568 -0.0398  0.0566  0.0640     0.0052
1973-05-01 -0.0294 -0.0611  0.0019  0.0708     0.0051
1973-06-01 -0.0156 -0.0294  0.0143  0.0431     0.0051
1973-07-01  0.0504  0.0786 -0.0518 -0.1167     0.0064
1973-08-01 -0.0384 -0.0205  0.0118  0.0342     0.0070
1973-09-01  0.0475  0.0292  0.0211 -0.0702     0.0068
1973-10-01 -0.0086 -0.0017  0.0174  0.0674     0.0065
1973-11-01 -0.1274 -0.0771  0.0400  0.0863     0.0056
1973-12-01  0.0058 -0.0533  0.0425  0.1038     0.0064
1974-01-01 -0.0017  0.0987  0.0586 -0.0881     0.0063
1974-02-01 -0.0048  0.0001  0.0255  0.0013     0.0058
1974-03-01 -0.0281  0.0249 -0.0009 -0.0098     0.0056
1974-04-01 -0.0529 -0.0072  0.0101  0.0200     0.0075
1974-05-01 -0.0467 -0.0304 -0.0207 -0.0025     0.0075
1974-06-01 -0.0283 -0.0016  0.0079  0.0238     0.0060
...            ...     ...     ...     ...        ...
2013-01-01  0.0557  0.0047  0.0131 -0.0191     0.0000
2013-02-01  0.0129 -0.0039  0.0029  0.0147     0.0000
2013-03-01  0.0403  0.0083 -0.0006  0.0209     0.0000
2013-04-01  0.0156 -0.0240  0.0041  0.0035     0.0000
2013-05-01  0.0280  0.0195  0.0132 -0.0188     0.0000
2013-06-01 -0.0120  0.0123 -0.0044  0.0066     0.0000
2013-07-01  0.0565  0.0187  0.0074  0.0172     0.0000
2013-08-01 -0.0271  0.0029 -0.0246  0.0007     0.0000
2013-09-01  0.0377  0.0285 -0.0159  0.0299     0.0000
2013-10-01  0.0418 -0.0157  0.0130  0.0020     0.0000
2013-11-01  0.0312  0.0134 -0.0033  0.0048     0.0000
2013-12-01  0.0281 -0.0043 -0.0015  0.0011     0.0000
2014-01-01 -0.0332  0.0084 -0.0186  0.0172     0.0000
2014-02-01  0.0465  0.0032 -0.0048  0.0206     0.0000
2014-03-01  0.0043 -0.0183  0.0467 -0.0324     0.0000
2014-04-01 -0.0019 -0.0419  0.0157 -0.0390     0.0000
2014-05-01  0.0206 -0.0187 -0.0038  0.0099     0.0000
2014-06-01  0.0261  0.0299 -0.0066  0.0062     0.0000
2014-07-01 -0.0204 -0.0428  0.0001 -0.0027     0.0000
2014-08-01  0.0423  0.0049 -0.0075  0.0074     0.0000
2014-09-01 -0.0197 -0.0380 -0.0161  0.0058     0.0000
2014-10-01  0.0252  0.0417 -0.0189  0.0014     0.0000
2014-11-01  0.0255 -0.0214 -0.0342  0.0113     0.0000
2014-12-01 -0.0006  0.0260  0.0152  0.0106     0.0000
2015-01-01 -0.0311 -0.0066 -0.0311  0.0378     0.0000
2015-02-01  0.0613  0.0052 -0.0214 -0.0289     0.0000
2015-03-01 -0.0112  0.0311 -0.0074  0.0313     0.0000
2015-04-01  0.0059 -0.0298  0.0210 -0.0712     0.0000
2015-05-01  0.0136  0.0092 -0.0191  0.0599     0.0000
2015-06-01 -0.0153  0.0284 -0.0102  0.0303     0.0000

[522 rows x 5 columns]

In [27]:
test = pd.concat([d1, p], axis=1)

In [33]:
test.rename({0:'respons'}, inplace=True, axis=1)
test

               MKT     SMB     HML     WML  Tbillrate   respons
date
1972-01-01  0.0249  0.0611  0.0203  0.0024     0.0029  0.015237
1972-02-01  0.0287  0.0138 -0.0276  0.0270     0.0025 -0.008565
1972-03-01  0.0063 -0.0027 -0.0169  0.0291     0.0027  0.006789
1972-04-01  0.0029  0.0000  0.0022  0.0290     0.0029  0.007392
1972-05-01  0.0125 -0.0279 -0.0269  0.0318     0.0030  0.000096
1972-06-01 -0.0243  0.0033 -0.0248  0.0193     0.0029  0.006807
1972-07-01 -0.0080 -0.0288  0.0077  0.0275     0.0031  0.003529
1972-08-01  0.0326 -0.0407  0.0468 -0.0534     0.0029 -0.018540
1972-09-01 -0.0114 -0.0268  0.0049  0.0175     0.0034  0.005212
1972-10-01  0.0052 -0.0271  0.0132  0.0075     0.0040 -0.010131
1972-11-01  0.0460 -0.0112  0.0478 -0.0514     0.0037  0.003369
1972-12-01  0.0062 -0.0186 -0.0229  0.0498     0.0037  0.012496
1973-01-01 -0.0329 -0.0350  0.0268  0.0372     0.0044  0.021927
1973-02-01 -0.0485 -0.0399  0.0168  0.0212     0.0041  0.005095
1973-03-01 -0.0129 -0.0287  0.0284  0.0362     0.0046  0.011423
1973-04-01 -0.0568 -0.0398  0.0566  0.0640     0.0052  0.015026
1973-05-01 -0.0294 -0.0611  0.0019  0.0708     0.0051  0.002982
1973-06-01 -0.0156 -0.0294  0.0143  0.0431     0.0051  0.002244
1973-07-01  0.0504  0.0786 -0.0518 -0.1167     0.0064 -0.014332
1973-08-01 -0.0384 -0.0205  0.0118  0.0342     0.0070  0.002704
1973-09-01  0.0475  0.0292  0.0211 -0.0702     0.0068 -0.006320
1973-10-01 -0.0086 -0.0017  0.0174  0.0674     0.0065  0.022833
1973-11-01 -0.1274 -0.0771  0.0400  0.0863     0.0056  0.028930
1973-12-01  0.0058 -0.0533  0.0425  0.1038     0.0064  0.027118
1974-01-01 -0.0017  0.0987  0.0586 -0.0881     0.0063 -0.002944
1974-02-01 -0.0048  0.0001  0.0255  0.0013     0.0058  0.007499
1974-03-01 -0.0281  0.0249 -0.0009 -0.0098     0.0056 -0.002089
1974-04-01 -0.0529 -0.0072  0.0101  0.0200     0.0075  0.014706
1974-05-01 -0.0467 -0.0304 -0.0207 -0.0025     0.0075 -0.013043
1974-06-01 -0.0283 -0.0016  0.0079  0.0238     0.0060  0.002920
...            ...     ...     ...     ...        ...       ...
2013-01-01  0.0557  0.0047  0.0131 -0.0191     0.0000  0.003260
2013-02-01  0.0129 -0.0039  0.0029  0.0147     0.0000  0.008360
2013-03-01  0.0403  0.0083 -0.0006  0.0209     0.0000  0.003688
2013-04-01  0.0156 -0.0240  0.0041  0.0035     0.0000 -0.000366
2013-05-01  0.0280  0.0195  0.0132 -0.0188     0.0000  0.004833
2013-06-01 -0.0120  0.0123 -0.0044  0.0066     0.0000 -0.002710
2013-07-01  0.0565  0.0187  0.0074  0.0172     0.0000  0.005881
2013-08-01 -0.0271  0.0029 -0.0246  0.0007     0.0000  0.000020
2013-09-01  0.0377  0.0285 -0.0159  0.0299     0.0000  0.000616
2013-10-01  0.0418 -0.0157  0.0130  0.0020     0.0000  0.013127
2013-11-01  0.0312  0.0134 -0.0033  0.0048     0.0000 -0.008649
2013-12-01  0.0281 -0.0043 -0.0015  0.0011     0.0000 -0.002018
2014-01-01 -0.0332  0.0084 -0.0186  0.0172     0.0000 -0.001393
2014-02-01  0.0465  0.0032 -0.0048  0.0206     0.0000  0.004084
2014-03-01  0.0043 -0.0183  0.0467 -0.0324     0.0000 -0.000073
2014-04-01 -0.0019 -0.0419  0.0157 -0.0390     0.0000 -0.000621
2014-05-01  0.0206 -0.0187 -0.0038  0.0099     0.0000  0.002864
2014-06-01  0.0261  0.0299 -0.0066  0.0062     0.0000  0.005260
2014-07-01 -0.0204 -0.0428  0.0001 -0.0027     0.0000 -0.000679
2014-08-01  0.0423  0.0049 -0.0075  0.0074     0.0000 -0.005473
2014-09-01 -0.0197 -0.0380 -0.0161  0.0058     0.0000  0.003986
2014-10-01  0.0252  0.0417 -0.0189  0.0014     0.0000 -0.000039
2014-11-01  0.0255 -0.0214 -0.0342  0.0113     0.0000  0.005634
2014-12-01 -0.0006  0.0260  0.0152  0.0106     0.0000 -0.002612
2015-01-01 -0.0311 -0.0066 -0.0311  0.0378     0.0000  0.001826
2015-02-01  0.0613  0.0052 -0.0214 -0.0289     0.0000 -0.015374
2015-03-01 -0.0112  0.0311 -0.0074  0.0313     0.0000 -0.004690
2015-04-01  0.0059 -0.0298  0.0210 -0.0712     0.0000 -0.014483
2015-05-01  0.0136  0.0092 -0.0191  0.0599     0.0000  0.004750
2015-06-01 -0.0153  0.0284 -0.0102  0.0303     0.0000  0.003693

[522 rows x 6 columns]

In [24]:
d1

               MKT     SMB     HML     WML  Tbillrate
date
1972-01-01  0.0249  0.0611  0.0203  0.0024     0.0029
1972-02-01  0.0287  0.0138 -0.0276  0.0270     0.0025
1972-03-01  0.0063 -0.0027 -0.0169  0.0291     0.0027
1972-04-01  0.0029  0.0000  0.0022  0.0290     0.0029
1972-05-01  0.0125 -0.0279 -0.0269  0.0318     0.0030
1972-06-01 -0.0243  0.0033 -0.0248  0.0193     0.0029
1972-07-01 -0.0080 -0.0288  0.0077  0.0275     0.0031
1972-08-01  0.0326 -0.0407  0.0468 -0.0534     0.0029
1972-09-01 -0.0114 -0.0268  0.0049  0.0175     0.0034
1972-10-01  0.0052 -0.0271  0.0132  0.0075     0.0040
1972-11-01  0.0460 -0.0112  0.0478 -0.0514     0.0037
1972-12-01  0.0062 -0.0186 -0.0229  0.0498     0.0037
1973-01-01 -0.0329 -0.0350  0.0268  0.0372     0.0044
1973-02-01 -0.0485 -0.0399  0.0168  0.0212     0.0041
1973-03-01 -0.0129 -0.0287  0.0284  0.0362     0.0046
1973-04-01 -0.0568 -0.0398  0.0566  0.0640     0.0052
1973-05-01 -0.0294 -0.0611  0.0019  0.0708     0.0051
1973-06-01 -0.0156 -0.0294  0.0143  0.0431     0.0051
1973-07-01  0.0504  0.0786 -0.0518 -0.1167     0.0064
1973-08-01 -0.0384 -0.0205  0.0118  0.0342     0.0070
1973-09-01  0.0475  0.0292  0.0211 -0.0702     0.0068
1973-10-01 -0.0086 -0.0017  0.0174  0.0674     0.0065
1973-11-01 -0.1274 -0.0771  0.0400  0.0863     0.0056
1973-12-01  0.0058 -0.0533  0.0425  0.1038     0.0064
1974-01-01 -0.0017  0.0987  0.0586 -0.0881     0.0063
1974-02-01 -0.0048  0.0001  0.0255  0.0013     0.0058
1974-03-01 -0.0281  0.0249 -0.0009 -0.0098     0.0056
1974-04-01 -0.0529 -0.0072  0.0101  0.0200     0.0075
1974-05-01 -0.0467 -0.0304 -0.0207 -0.0025     0.0075
1974-06-01 -0.0283 -0.0016  0.0079  0.0238     0.0060
...            ...     ...     ...     ...        ...
2013-01-01  0.0557  0.0047  0.0131 -0.0191     0.0000
2013-02-01  0.0129 -0.0039  0.0029  0.0147     0.0000
2013-03-01  0.0403  0.0083 -0.0006  0.0209     0.0000
2013-04-01  0.0156 -0.0240  0.0041  0.0035     0.0000
2013-05-01  0.0280  0.0195  0.0132 -0.0188     0.0000
2013-06-01 -0.0120  0.0123 -0.0044  0.0066     0.0000
2013-07-01  0.0565  0.0187  0.0074  0.0172     0.0000
2013-08-01 -0.0271  0.0029 -0.0246  0.0007     0.0000
2013-09-01  0.0377  0.0285 -0.0159  0.0299     0.0000
2013-10-01  0.0418 -0.0157  0.0130  0.0020     0.0000
2013-11-01  0.0312  0.0134 -0.0033  0.0048     0.0000
2013-12-01  0.0281 -0.0043 -0.0015  0.0011     0.0000
2014-01-01 -0.0332  0.0084 -0.0186  0.0172     0.0000
2014-02-01  0.0465  0.0032 -0.0048  0.0206     0.0000
2014-03-01  0.0043 -0.0183  0.0467 -0.0324     0.0000
2014-04-01 -0.0019 -0.0419  0.0157 -0.0390     0.0000
2014-05-01  0.0206 -0.0187 -0.0038  0.0099     0.0000
2014-06-01  0.0261  0.0299 -0.0066  0.0062     0.0000
2014-07-01 -0.0204 -0.0428  0.0001 -0.0027     0.0000
2014-08-01  0.0423  0.0049 -0.0075  0.0074     0.0000
2014-09-01 -0.0197 -0.0380 -0.0161  0.0058     0.0000
2014-10-01  0.0252  0.0417 -0.0189  0.0014     0.0000
2014-11-01  0.0255 -0.0214 -0.0342  0.0113     0.0000
2014-12-01 -0.0006  0.0260  0.0152  0.0106     0.0000
2015-01-01 -0.0311 -0.0066 -0.0311  0.0378     0.0000
2015-02-01  0.0613  0.0052 -0.0214 -0.0289     0.0000
2015-03-01 -0.0112  0.0311 -0.0074  0.0313     0.0000
2015-04-01  0.0059 -0.0298  0.0210 -0.0712     0.0000
2015-05-01  0.0136  0.0092 -0.0191  0.0599     0.0000
2015-06-01 -0.0153  0.0284 -0.0102  0.0303     0.0000

[522 rows x 5 columns]