In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snb

from modules.stock import Stock
from modules.portfolio import Portfolio
from modules.performance import Performance

%matplotlib inline

In [2]:
stock = Stock()
stock.composite_data('bmit', 'momit')

In [3]:
s, dummy = stock.portfolio('bmit_momit', highlow = 'low', return_dummy=True)
p = Portfolio.portfolio_return(s)

In [4]:
a = Performance(p, 12, dummy)
a.get_performance('lars')

,avg months for stock,avg return,sharpe ratio,std. deviation,t-stat
index_name,,,,,
lars,24.552786,0.033185,0.164571,0.201643,3.760016

In [5]:

A = pd.DataFrame({'a':[0,0,np.nan], 'b':[np.nan, 1 , 0]})
B = pd.DataFrame({'a':[np.nan,np.nan,1], 'b':[np.nan, np.nan , 1]})

In [6]:
print(A)
print(B)

     a    b
0  0.0  NaN
1  0.0  1.0
2  NaN  0.0
     a    b
0  NaN  NaN
1  NaN  NaN
2  1.0  1.0

In [7]:
df1 = pd.DataFrame(np.random.randint(0,20,size=(5, 4)))
df1[(df1 > 10)] = np.nan

In [8]:
df1

     0    1    2     3
0  NaN  NaN  NaN   5.0
1  NaN  8.0  5.0   NaN
2  2.0  NaN  4.0   NaN
3  9.0  1.0  8.0  10.0
4  3.0  3.0  NaN   5.0

In [9]:
df2 = pd.DataFrame(np.random.randint(0,20,size=(5, 4)))
df2[(df2 > 10)] = np.nan

In [10]:
df2

     0    1  2     3
0  1.0  9.0  3   1.0
1  NaN  6.0  2  10.0
2  8.0  NaN  1   NaN
3  NaN  6.0  7   4.0
4  NaN  9.0  4   1.0

In [11]:
Stock.add_dfs(df1, df2)

      0     1     2     3
0   1.0   9.0   3.0   6.0
1   NaN  14.0   7.0  10.0
2  10.0   NaN   5.0   NaN
3   9.0   7.0  15.0  14.0
4   3.0  12.0   4.0   6.0

In [12]:
std_df = df.std(axis=1)

NameError: name 'df' is not defined

In [ ]:
mean_df = df.mean(axis=1)

In [ ]:
mean_df

In [ ]:
df_temp = df.add(-mean_df, axis=0)

In [ ]:
df_temp.mul((1 /std_df),axis=0)

In [ ]:
df.add(-mean_df, axis=0).mul((1 /std_df),axis=0)

In [ ]:
df_temp

In [ ]:
k = {'a' : 1,  'b' :  2, 'lars' : 4}

In [ ]:
k

In [ ]:
k_list = [key for key in k]

In [ ]:
k_list