In [3]:
import pandas as pd
import numpy as np
from modules.stock import Stock
from modules.portfolio import Portfolio

In [5]:
stock = Stock()

In [9]:
s = stock.portfolio('bmit')
p = Portfolio(s)
p.get_portfolio()

                   0
date
1972-01-01  0.022936
1972-02-01  0.000468
1972-03-01 -0.008469
1972-04-01  0.001794
1972-05-01 -0.002499
1972-06-01 -0.033976
1972-07-01 -0.018993
1972-08-01  0.071795
1972-09-01 -0.020863
1972-10-01  0.018690
1972-11-01  0.105036
1972-12-01 -0.032228
1973-01-01 -0.047379
1973-02-01 -0.038259
1973-03-01  0.000276
1973-04-01 -0.023549
1973-05-01 -0.046261
1973-06-01 -0.018013
1973-07-01  0.035090
1973-08-01 -0.017193
1973-09-01  0.067376
1973-10-01 -0.021616
1973-11-01 -0.121098
1973-12-01  0.042869
1974-01-01  0.045697
1974-02-01  0.021306
1974-03-01 -0.036088
1974-04-01 -0.078070
1974-05-01 -0.056849
1974-06-01 -0.042794
...              ...
2013-01-01  0.076872
2013-02-01  0.012816
2013-03-01  0.047268
2013-04-01  0.021927
2013-05-01  0.027012
2013-06-01 -0.005677
2013-07-01  0.046500
2013-08-01 -0.031569
2013-09-01  0.019256
2013-10-01  0.052208
2013-11-01  0.023902
2013-12-01  0.013908
2014-01-01 -0.033838
2014-02-01  0.034861
2014-03-01  0.038739
2014-04-01  0.014835
2014-05-01  0.011748
2014-06-01  0.038940
2014-07-01 -0.028010
2014-08-01  0.033533
2014-09-01 -0.020010
2014-10-01  0.025086
2014-11-01 -0.005674
2014-12-01  0.018138
2015-01-01 -0.041081
2015-02-01  0.043232
2015-03-01 -0.019459
2015-04-01  0.028236
2015-05-01  0.000906
2015-06-01 -0.023553

[522 rows x 1 columns]