In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snb

from modules.stock import Stock
from modules.portfolio import Portfolio
from modules.performance import Performance

%matplotlib inline

In [2]:
stock = Stock()

In [23]:
s, dummy = stock.portfolio('bmit', highlow = 'high', return_dummy=True)
p = Portfolio.portfolio_return(s)

In [24]:
a = Performance(p, 12, dummy)
a.get_performance('bmit low')

,avg months for stock,avg return,sharpe ratio,std. deviation,t-stat
index_name,,,,,
bmit low,24.552786,0.085271,0.519232,0.164225,11.863051

In [6]:

A = pd.DataFrame({'a':[0,0,np.nan], 'b':[np.nan, 1 , 0]})
B = pd.DataFrame({'a':[np.nan,np.nan,1], 'b':[np.nan, np.nan , 1]})

In [7]:
print(A)
print(B)

     a    b
0  0.0  NaN
1  0.0  1.0
2  NaN  0.0
     a    b
0  NaN  NaN
1  NaN  NaN
2  1.0  1.0

In [8]:
pd.DataFrame(A.fillna(0) - B.fillna(0))

     a    b
0  0.0  0.0
1  0.0  1.0
2 -1.0 -1.0

In [9]:
df = pd.DataFrame(np.random.randint(0,20,size=(20, 4)))
df[(df > 17)] = np.nan
df

     0     1     2     3
0    8   NaN   1.0   7.0
1    2   4.0  16.0  15.0
2    8  17.0   8.0   2.0
3   11  12.0  11.0  12.0
4   14   NaN   2.0   9.0
5    1   NaN  11.0  16.0
6   10   NaN  16.0  16.0
7   10   9.0  12.0   0.0
8    6   NaN   9.0   2.0
9    0  16.0   4.0  15.0
10  12   8.0   4.0   6.0
11   5  14.0   NaN  11.0
12  11   3.0   4.0   NaN
13  17   1.0   8.0   2.0
14   0   6.0  17.0   7.0
15  12   3.0  13.0   5.0
16  12  12.0   3.0  10.0
17  11  14.0   8.0   0.0
18   9  12.0  15.0  15.0
19   6  14.0  15.0   6.0

In [10]:
std_df = df.std(axis=1)

In [11]:
mean_df = df.mean(axis=1)

In [12]:
mean_df

0      5.333333
1      9.250000
2      8.750000
3     11.500000
4      8.333333
5      9.333333
6     14.000000
7      7.750000
8      5.666667
9      8.750000
10     7.500000
11    10.000000
12     6.000000
13     7.000000
14     7.500000
15     8.250000
16     9.250000
17     8.250000
18    12.750000
19    10.250000
dtype: float64

In [13]:
df_temp = df.add(-mean_df, axis=0)

In [14]:
df_temp.mul((1 /std_df),axis=0)

           0         1         2         3
0   0.704361       NaN -1.144586  0.440225
1  -0.996648 -0.721711  0.927914  0.790445
2  -0.121268  1.333946 -0.121268 -1.091410
3  -0.866025  0.866025 -0.866025  0.866025
4   0.940102       NaN -1.050702  0.110600
5  -1.091089       NaN  0.218218  0.872872
6  -1.154701       NaN  0.577350  0.577350
7   0.423324  0.235180  0.799613 -1.458117
8   0.094916       NaN  0.949158 -1.044074
9  -1.097328  0.909215 -0.595692  0.783806
10  1.317465  0.146385 -1.024695 -0.439155
11 -1.091089  0.872872       NaN  0.218218
12  1.147079 -0.688247 -0.458831       NaN
13  1.360828 -0.816497  0.136083 -0.680414
14 -1.064213 -0.212843  1.348004 -0.070948
15  0.751253 -1.051754  0.951587 -0.651086
16  0.643726  0.643726 -1.463014  0.175562
17  0.456750  0.955023 -0.041523 -1.370250
18 -1.305582 -0.261116  0.783349  0.783349
19 -0.863044  0.761510  0.964579 -0.863044

In [15]:
df.add(-mean_df, axis=0).mul((1 /std_df),axis=0)

           0         1         2         3
0   0.704361       NaN -1.144586  0.440225
1  -0.996648 -0.721711  0.927914  0.790445
2  -0.121268  1.333946 -0.121268 -1.091410
3  -0.866025  0.866025 -0.866025  0.866025
4   0.940102       NaN -1.050702  0.110600
5  -1.091089       NaN  0.218218  0.872872
6  -1.154701       NaN  0.577350  0.577350
7   0.423324  0.235180  0.799613 -1.458117
8   0.094916       NaN  0.949158 -1.044074
9  -1.097328  0.909215 -0.595692  0.783806
10  1.317465  0.146385 -1.024695 -0.439155
11 -1.091089  0.872872       NaN  0.218218
12  1.147079 -0.688247 -0.458831       NaN
13  1.360828 -0.816497  0.136083 -0.680414
14 -1.064213 -0.212843  1.348004 -0.070948
15  0.751253 -1.051754  0.951587 -0.651086
16  0.643726  0.643726 -1.463014  0.175562
17  0.456750  0.955023 -0.041523 -1.370250
18 -1.305582 -0.261116  0.783349  0.783349
19 -0.863044  0.761510  0.964579 -0.863044

In [16]:
df_temp

            0     1         2         3
0    2.666667   NaN -4.333333  1.666667
1   -7.250000 -5.25  6.750000  5.750000
2   -0.750000  8.25 -0.750000 -6.750000
3   -0.500000  0.50 -0.500000  0.500000
4    5.666667   NaN -6.333333  0.666667
5   -8.333333   NaN  1.666667  6.666667
6   -4.000000   NaN  2.000000  2.000000
7    2.250000  1.25  4.250000 -7.750000
8    0.333333   NaN  3.333333 -3.666667
9   -8.750000  7.25 -4.750000  6.250000
10   4.500000  0.50 -3.500000 -1.500000
11  -5.000000  4.00       NaN  1.000000
12   5.000000 -3.00 -2.000000       NaN
13  10.000000 -6.00  1.000000 -5.000000
14  -7.500000 -1.50  9.500000 -0.500000
15   3.750000 -5.25  4.750000 -3.250000
16   2.750000  2.75 -6.250000  0.750000
17   2.750000  5.75 -0.250000 -8.250000
18  -3.750000 -0.75  2.250000  2.250000
19  -4.250000  3.75  4.750000 -4.250000

In [17]:
k = {'a' : 1,  'b' :  2, 'lars' : 4}

In [18]:
k

{'a': 1, 'b': 2, 'lars': 4}

In [19]:
k_list = [key for key in k]

In [20]:
k_list

['a', 'b', 'lars']