In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snb

from modules.stock import Stock
from modules.portfolio import Portfolio
from modules.performance import Performance

%matplotlib inline

In [2]:
stock = Stock()

In [69]:
s, dummy = stock.portfolio('bmit', highlow = 'low', return_dummy=True)
p = Portfolio.portfolio_return(s)

In [ ]:
stock.add_data('bmit', 'momit')

In [42]:
a = Performance(p, 12, dummy)
a.get_performance('lars')

,avg months for stock,avg return,sharpe ratio,std. deviation,t-stat
index_name,,,,,
lars,24.552786,0.054189,0.265777,0.203888,6.072289

In [30]:

A = pd.DataFrame({'a':[0,0,np.nan], 'b':[np.nan, 1 , 0]})
B = pd.DataFrame({'a':[np.nan,np.nan,1], 'b':[np.nan, np.nan , 1]})

In [7]:
print(A)
print(B)

     a    b
0  0.0  NaN
1  0.0  1.0
2  NaN  0.0
     a    b
0  NaN  NaN
1  NaN  NaN
2  1.0  1.0

In [8]:
pd.DataFrame(A.fillna(0) - B.fillna(0))

     a    b
0  0.0  0.0
1  0.0  1.0
2 -1.0 -1.0

In [60]:
df1 = pd.DataFrame(np.random.randint(0,20,size=(5, 4)))
df1[(df1 > 10)] = np.nan

In [61]:
df1

     0    1     2    3
0  NaN  5.0   NaN  NaN
1  0.0  NaN  10.0  9.0
2  2.0  NaN   9.0  NaN
3  NaN  NaN   5.0  6.0
4  6.0  NaN   NaN  8.0

In [62]:
df2 = pd.DataFrame(np.random.randint(0,20,size=(5, 4)))
df2[(df2 > 10)] = np.nan

In [63]:
df2

      0    1    2    3
0  10.0  NaN  NaN  1.0
1   NaN  1.0  6.0  5.0
2   NaN  NaN  NaN  NaN
3   3.0  NaN  NaN  NaN
4   NaN  2.0  NaN  7.0

In [65]:
Stock.add_dfs(df1, df2)

      0    1     2     3
0  10.0  5.0   NaN   1.0
1   NaN  1.0  16.0  14.0
2   2.0  NaN   9.0   NaN
3   3.0  NaN   5.0   6.0
4   6.0  2.0   NaN  15.0

            avg return  sharpe ratio  std. deviation     t-stat
index_name
lars              32.0      3.703280        8.640988   8.280787
lars              60.0           inf        0.000000        inf
lars              96.0     12.828540        7.483315  28.685487
lars              92.0     21.293862        4.320494  47.614524

In [10]:
std_df = df.std(axis=1)

In [11]:
mean_df = df.mean(axis=1)

In [12]:
mean_df

0      5.333333
1      9.250000
2      8.750000
3     11.500000
4      8.333333
5      9.333333
6     14.000000
7      7.750000
8      5.666667
9      8.750000
10     7.500000
11    10.000000
12     6.000000
13     7.000000
14     7.500000
15     8.250000
16     9.250000
17     8.250000
18    12.750000
19    10.250000
dtype: float64

In [13]:
df_temp = df.add(-mean_df, axis=0)

In [14]:
df_temp.mul((1 /std_df),axis=0)

           0         1         2         3
0   0.704361       NaN -1.144586  0.440225
1  -0.996648 -0.721711  0.927914  0.790445
2  -0.121268  1.333946 -0.121268 -1.091410
3  -0.866025  0.866025 -0.866025  0.866025
4   0.940102       NaN -1.050702  0.110600
5  -1.091089       NaN  0.218218  0.872872
6  -1.154701       NaN  0.577350  0.577350
7   0.423324  0.235180  0.799613 -1.458117
8   0.094916       NaN  0.949158 -1.044074
9  -1.097328  0.909215 -0.595692  0.783806
10  1.317465  0.146385 -1.024695 -0.439155
11 -1.091089  0.872872       NaN  0.218218
12  1.147079 -0.688247 -0.458831       NaN
13  1.360828 -0.816497  0.136083 -0.680414
14 -1.064213 -0.212843  1.348004 -0.070948
15  0.751253 -1.051754  0.951587 -0.651086
16  0.643726  0.643726 -1.463014  0.175562
17  0.456750  0.955023 -0.041523 -1.370250
18 -1.305582 -0.261116  0.783349  0.783349
19 -0.863044  0.761510  0.964579 -0.863044

In [15]:
df.add(-mean_df, axis=0).mul((1 /std_df),axis=0)

           0         1         2         3
0   0.704361       NaN -1.144586  0.440225
1  -0.996648 -0.721711  0.927914  0.790445
2  -0.121268  1.333946 -0.121268 -1.091410
3  -0.866025  0.866025 -0.866025  0.866025
4   0.940102       NaN -1.050702  0.110600
5  -1.091089       NaN  0.218218  0.872872
6  -1.154701       NaN  0.577350  0.577350
7   0.423324  0.235180  0.799613 -1.458117
8   0.094916       NaN  0.949158 -1.044074
9  -1.097328  0.909215 -0.595692  0.783806
10  1.317465  0.146385 -1.024695 -0.439155
11 -1.091089  0.872872       NaN  0.218218
12  1.147079 -0.688247 -0.458831       NaN
13  1.360828 -0.816497  0.136083 -0.680414
14 -1.064213 -0.212843  1.348004 -0.070948
15  0.751253 -1.051754  0.951587 -0.651086
16  0.643726  0.643726 -1.463014  0.175562
17  0.456750  0.955023 -0.041523 -1.370250
18 -1.305582 -0.261116  0.783349  0.783349
19 -0.863044  0.761510  0.964579 -0.863044

In [16]:
df_temp

            0     1         2         3
0    2.666667   NaN -4.333333  1.666667
1   -7.250000 -5.25  6.750000  5.750000
2   -0.750000  8.25 -0.750000 -6.750000
3   -0.500000  0.50 -0.500000  0.500000
4    5.666667   NaN -6.333333  0.666667
5   -8.333333   NaN  1.666667  6.666667
6   -4.000000   NaN  2.000000  2.000000
7    2.250000  1.25  4.250000 -7.750000
8    0.333333   NaN  3.333333 -3.666667
9   -8.750000  7.25 -4.750000  6.250000
10   4.500000  0.50 -3.500000 -1.500000
11  -5.000000  4.00       NaN  1.000000
12   5.000000 -3.00 -2.000000       NaN
13  10.000000 -6.00  1.000000 -5.000000
14  -7.500000 -1.50  9.500000 -0.500000
15   3.750000 -5.25  4.750000 -3.250000
16   2.750000  2.75 -6.250000  0.750000
17   2.750000  5.75 -0.250000 -8.250000
18  -3.750000 -0.75  2.250000  2.250000
19  -4.250000  3.75  4.750000 -4.250000

In [17]:
k = {'a' : 1,  'b' :  2, 'lars' : 4}

In [18]:
k

{'a': 1, 'b': 2, 'lars': 4}

In [19]:
k_list = [key for key in k]

In [20]:
k_list

['a', 'b', 'lars']